@font-face {
  font-display: swap;
  font-family: "Lexend Deca";
  src: url("../fonts/lexend-deca-v17-latin-regular.eot");
  src: url("../fonts/lexend-deca-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"), url("../fonts/lexend-deca-v17-latin-regular.ttf") format("truetype"), url("../fonts/lexend-deca-v17-latin-regular.svg#LexendDeca") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  src: url("../fonts/space-mono-v12-latin-regular.eot");
  src: url("../fonts/space-mono-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-regular.woff") format("woff"), url("../fonts/space-mono-v12-latin-regular.ttf") format("truetype"), url("../fonts/space-mono-v12-latin-regular.svg#SpaceMono") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Lexend Deca";
  background-color: #F2F2F2;
  color: #939CAA;
}

.container {
  max-width: 1106px;
  padding: 0 15px;
  margin: 0 auto;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  background-color: #F2F2F2;
  z-index: 30;
}
nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
}
nav .navbar__bug {
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: default;
}
nav .navbar__bug-menu {
  display: flex;
  align-items: center;
  justify-content: default;
  flex-direction: default;
  column-gap: 32px;
}
nav .navbar__bug-menu--list {
  padding: 36px 0 35px 0;
  cursor: pointer;
}
nav .navbar__bug-menu--link {
  font-family: "Space Mono";
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  text-transform: capitalize;
}
nav .navbar__bug-btn {
  min-width: 180px;
  padding: 14px 39px;
  background-color: #FCB72B;
  color: #FFFFFF;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  border: none;
  cursor: pointer;
}
nav .navbar__bug-btn:hover {
  padding: 11px 36px;
  border: 3px solid #FCB72B;
  background-color: transparent;
  color: #FCB72B;
  transition: 0.2s;
  text-align: center;
  max-width: 100%;
}
nav .navbar__bug-menu--link:hover {
  color: #FCB72B;
}

header {
  margin-top: 95px;
  padding-top: 153px;
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
}
header .hero {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
header .hero__title {
  max-width: 500px;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}
header .hero__description {
  position: absolute;
  top: 154px;
  left: -165px;
  display: flex;
  align-items: center;
  justify-content: default;
  flex-direction: default;
  column-gap: 40px;
}
header .hero__description-line {
  display: inline-block;
  min-width: 202.5px;
  border: 15px solid #FCB72B;
}
header .hero__description-desc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
header .hero__description-desc--text {
  max-width: 405px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
header .hero__description-desc--btn {
  min-width: 180px;
  padding: 14px 39px;
  background-color: #FCB72B;
  color: #FFFFFF;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 40px;
}
header .hero__description-desc--btn:hover {
  padding: 11px 36px;
  border: 3px solid #FCB72B;
  background-color: transparent;
  color: #FCB72B;
  transition: 0.2s;
  text-align: center;
}

.cards {
  display: flex;
  align-items: default;
  justify-content: default;
  flex-direction: default;
  padding-top: 160px;
  position: relative;
  column-gap: 30px;
}
.cards__line {
  top: 195px;
  position: absolute;
  left: -222px;
  z-index: -1;
  min-width: 990px;
  border: 15px solid #E5ECF4;
}
.cards__item-icon {
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #FCB72B;
  display: flex;
  justify-content: center;
}
.cards__item-title {
  padding-bottom: 27px;
  padding-top: 40px;
  font-family: "Space Mono";
  font-size: 24px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.cards__item-text {
  width: 350px;
  font-family: "Lexend Deca";
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.section {
  padding-top: 153px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2000px;
}
.section__zero {
  display: flex;
  height: 30%;
  width: 100%;
}
.section__zero--img {
  display: flex;
  align-items: center;
  justify-content: end;
  background-image: url(../../images/third.png);
  background-repeat: no-repeat;
  background-position: right center;
  width: 50%;
  height: 100%;
}
.section__zero--text {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  height: 100%;
}
.section__zero--text .ct {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 71%;
  height: 70%;
}
.section__zero--title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  width: 440px;
}
.section__zero--pretitle {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  width: 440px;
}
.section__zero--btn {
  min-width: 180px;
  padding: 14px 39px;
  background-color: #FCB72B;
  color: #FFFFFF;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.section__zero--btn:hover {
  border: 3px solid #FCB72B;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FCB72B;
  background-color: transparent;
}
.section__city {
  display: flex;
  height: 30%;
  width: 100%;
}
.section__city--img {
  background-image: url(../../images/second.png);
  background-repeat: no-repeat;
  background-position: left center;
  width: 50%;
  height: 100%;
}
.section__city--text {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  height: 100%;
}
.section__city--text .ct {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 71%;
  height: 70%;
}
.section__city--title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  width: 440px;
}
.section__city--pretitle {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  width: 440px;
}
.section__city--btn {
  min-width: 180px;
  padding: 14px 39px;
  background-color: #FCB72B;
  color: #FFFFFF;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.section__city--btn:hover {
  border: 3px solid #FCB72B;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FCB72B;
  background-color: transparent;
}
.section__easy {
  display: flex;
  height: 30%;
  width: 100%;
}
.section__easy--img {
  display: flex;
  align-items: end;
  justify-content: end;
  background-image: url(../../images/first.png);
  background-repeat: no-repeat;
  background-position: right center;
  width: 50%;
  height: 100%;
}
.section__easy--text {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  height: 100%;
}
.section__easy--text .ct {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 71%;
  height: 70%;
}
.section__easy--title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  width: 440px;
}
.section__easy--pretitle {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  width: 440px;
}
.section__easy--btn {
  min-width: 180px;
  padding: 14px 39px;
  background-color: #FCB72B;
  color: #FFFFFF;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.section__easy--btn:hover {
  border: 3px solid #FCB72B;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FCB72B;
  background-color: transparent;
}

h1 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

/*# sourceMappingURL=main.css.map */
