@font-face {
    font-display: swap;
    font-family: 'Lexend Deca';
    src: url('../fonts/lexend-deca-v17-latin-regular.eot');
    src: url('../fonts/lexend-deca-v17-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'), url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff'), url('../fonts/lexend-deca-v17-latin-regular.ttf') format('truetype'), url('../fonts/lexend-deca-v17-latin-regular.svg#LexendDeca') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Space Mono';
    src: url('../fonts/space-mono-v12-latin-regular.eot');
    src: url('../fonts/space-mono-v12-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/space-mono-v12-latin-regular.woff2') format('woff2'), url('../fonts/space-mono-v12-latin-regular.woff') format('woff'), url('../fonts/space-mono-v12-latin-regular.ttf') format('truetype'), url('../fonts/space-mono-v12-latin-regular.svg#SpaceMono') format('svg');
}