@use'./variables';

@mixin flexbox($align:default, $justify:default, $fldirection:default) {
    display: flex;
    @if $align {
        align-items: $align;
    }
    @else {
        align-items: center;
    }
    @if $justify {
        justify-content: $justify;
    }
    @else {
        justify-content: space-between;
    }
    @if $fldirection {
        flex-direction: $fldirection;
    }
    @else {
        flex-direction: column;
    }
}

@mixin btn{
    min-width: 180px;
    padding: 14px 39px;
    background-color: variables.$yellow-color;
    color: variables.$main-color;
    font-family: variables.$title-font;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    border: none;
    cursor: pointer;
}


@mixin anker {
  font-family: variables.$title-font;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: variables.$yellow-color;
}

@mixin title {
  font-family: variables.$title-font;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: variables.$title-color;
}

@mixin pretitle {
  font-family: variables.$text-font;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: variables.$text-color;
}
@mixin btnhover {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: variables.$yellow-color;
  background-color: transparent;
}