@use "./fonts";
@use "./mixins";
@use "./variables";
@use "./all-blocks/all-blocks";
@use "./all-blocks/section";

h1 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}
