@use "../mixins";
@use "../fonts";
@use "../variables";

.section {
  padding-top: 153px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2000px;
  //   ...
  //   ...
  //   ...
  //   ...
  &__zero {
    display: flex;
    height: 30%;
    width: 100%;

    &--img {
      display: flex;
      align-items: center;
      justify-content: end;
      background-image: url(../../images/third.png);
      background-repeat: no-repeat;
      background-position: right center;
      width: 50%;
      height: 100%;
    }
    &--text {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 50%;
      height: 100%;

      .ct {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        width: 71%;
        height: 70%;
      }
    }

    &--title {
      @include mixins.title();
      width: 440px;
    }
    &--pretitle {
      @include mixins.pretitle();
      width: 440px;
    }
    &--btn {
      @include mixins.btn();
    }
    &--btn:hover {
      border: 3px solid variables.$yellow-color;
      @include mixins.btnhover();
    }
  }
  //   ...
  //   ...
  //   ...
  //   ...
  &__city {
    display: flex;
    height: 30%;
    width: 100%;

    &--img {
      background-image: url(../../images/second.png);
      background-repeat: no-repeat;
      background-position: left center;
      width: 50%;
      height: 100%;
    }
    &--text {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 50%;
      height: 100%;

      .ct {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        width: 71%;
        height: 70%;
      }
    }

    &--title {
      @include mixins.title();
      width: 440px;
    }
    &--pretitle {
      @include mixins.pretitle();
      width: 440px;
    }
    &--btn {
      @include mixins.btn();
    }
    &--btn:hover {
      border: 3px solid variables.$yellow-color;
      @include mixins.btnhover();
    }
  }
  //   ...
  //   ...
  //   ...
  //   ...
  //   ...
  &__easy {
    display: flex;
    height: 30%;
    width: 100%;

    &--img {
      display: flex;
      align-items: end;
      justify-content: end;
      background-image: url(../../images/first.png);
      background-repeat: no-repeat;
      background-position: right center;
      width: 50%;
      height: 100%;
    }
    &--text {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 50%;
      height: 100%;

      .ct {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        width: 71%;
        height: 70%;
      }
    }

    &--title {
      @include mixins.title();
      width: 440px;
    }
    &--pretitle {
      @include mixins.pretitle();
      width: 440px;
    }
    &--btn {
      @include mixins.btn();
    }
    &--btn:hover {
      border: 3px solid variables.$yellow-color;
      @include mixins.btnhover();
    }
  }
}
